
    <%- include('layout/head'); -%>

    <%- include('layout/header'); -%>
    <style>
        #header-background{
            height:300px !important;
        }
    </style>
    <body>

        <main>
            <h2 id= "AboutUs">About Us</h2>
            <hr>
            <h3>We are the Phantom trope</h3>
            <section id="member-data">

                <div id="members-box">
                    <div class="member">
                    <div class="img-div">
                        <img src= "../images/fitan.jpg" alt= "the leader">
                    </div>
                    <div class="member-info">
                        <h2>Ala`a Almasri</h2>
                        <p> King of  < div >s`   </p>
                    </div>

                    </div>

                    <div class="member">
                        <div class="img-div">
                            <img src= "../images/korolo.jpg" alt= "the leader"  >
                        </div>
                        <div class="member-info">
                            <h2>Ammmar Al-Hariry</h2>
                            <p>King of copy & past</p>
                        </div>
    
    
                        </div>
                        
                        <div class="member">
                            <div class="img-div">
                                <img src= "../images/Muna.jpg" alt= "the leader">
                            </div>
                            <div class="member-info">
                                <h2>Muna Jebril</h2>
                                <p>Drama queen</p>
                            </div>
        
        
                            </div>



                </div>
            </section>



</main>






    <%- include('layout/footer'); -%>
</body>
