<%- include('layout/head'); -%>

<%- include('layout/header'); -%>
<style>
    * {
        transition: all 0.5s ease-in-out;
    }

    #header-background {
        height: 400px !important;
    }

    #navbar {

        width: 100% !important;
    }

    .copyright {
        padding-right: 0% !important;
    }
 
</style>


<main>

    <div class="team-section">
        <div class="search-header">
            <h1>About Us</h2>
        </div>
        <h3 id="team-intro">We are the Phantom trope</h3>
        <div class="ps">
            <span><img class="owner-class" id="ammar" src="images/users/ammar.jpg"></span>
            <span><img class="owner-class"  id="muna" src="images/users/muna.jpg"></span>
        <span><img class="owner-class" id="alaa" src="images/users/alaa.jpg"></span>
        </div>
        <div  id="website-maker1" >
            <span class="name">Ammar alhiriri</span>
            <span class="border"></span>
            <p>Ammar
            </p>
        </div>
        <div  id="website-maker2">
            <span class="name">Muna jebril</span>
            <span class="border"></span>
            <p>Lorem damnnnnnnnnnn boy?</p>
        </div>
        <div id="website-maker3">
            <span class="name">Ala'a Almasri</span>
            <span class="border"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id aspernatur maiores nihil sit ea
                repellat veritatis commodi? Voluptate eligendi cum ex totam voluptates incidunt distinctio atque a
                cupiditate adipisci?</p>
        </div>
        <div class="intro">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id aspernatur maiores nihil sit ea
                repellat veritatis  INTO</p>
        </div>
    </div>
    </div>








</main>






<%- include('layout/footer'); -%>
</body>