<%- include('layout/head'); -%>

<%- include('layout/header'); -%>
<style>
    * {
        transition: all 0.5s ease-in-out;
    }

    #header-background {
        height: 400px !important;
    }

    #navbar {

        width: 100% !important;
    }

    .copyright {
        padding-right: 0% !important;
    }
 
</style>


<main>

    <div class="team-section">
        <div class="search-header">
            <h1>About Us</h2>
        </div>
        <h3 id="team-intro">We are the Phantom trope</h3>
        <div class="ps">
            <span><img class="owner-class" id="ammar" src="images/users/ammar.jpg"></span>
            <span><img class="owner-class"  id="muna" src="images/users/muna.jpg"></span>
        <span><img class="owner-class" id="alaa" src="images/users/alaa.jpg"></span>
        </div>
        <div  id="website-maker1" >
            <span class="name">Ammar alhiriri</span>
            <span class="border"></span>
            <h2>Most Used word</h2>
            <p>daaaaaaaaaaaaaaaaaaamn boy!!</p>
        </div>
        <div  id="website-maker2">
            <span class="name">Muna jebril</span>
            <span class="border"></span>
            <h2>Most Used word</h2>
            <p>I'm Hungry ,I Hate you all</p>
        </div>
        <div id="website-maker3">
            <span class="name"> Ala'a <span class="space"> </span>Almasri </span>
            <span class="border"></span>
            <h2>Most Used word</h2>
            <p>step on the button</p>
        </div>
        <div class="intro">
            <p>Fullstack developers team who loves anime and copy ,pasting ,shawarma &shesha who loves to have fun. </p>
        </div>
    </div>
    </div>








</main>






<%- include('layout/footer'); -%>
</body>