body {
    font-family: PT Sans, Helvetica, Arial, sans-serif !important;
    color: #fff;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-background {
    background: linear-gradient(#00000091, #00000062), url(../images/red-blue-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 570px;
    background-size: 100%;
    box-shadow: 3px 4px 8px #000000;
}

#logo {
    position: fixed;
    left: 0;
}

#logo img {
    width: 32%;
    margin: 8% 8%;
}

#main-navbar {
    margin-top: 3.5%;
    margin-right: 5%;
    display: inline-block;
    position: fixed;
    right: 0;
}

#main-navbar ul {
    list-style-type: none;
}

#main-navbar ul li {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
}

#main-navbar ul li a {
    text-decoration: none;
    color: #ffffff;
}

#main-navbar ul li a:hover {
    text-shadow: 5px 10px 8px #888888;
}

#main-navbar ul li {

    -webkit-animation: glowa 2s ease-in-out infinite alternate;
    -moz-animation: glowa 2s ease-in-out infinite alternate;
    animation: glowa 2s ease-in-out infinite alternate;
}

#cart {
    display: inline-block;
}

ion-icon {
    padding-top: 5px;
    font-size: 35px;
    color: #ffffff;
    position: relative;
    top: 9px;
    transition: 0.3s ease;
}

ion-icon:hover {
    color: #4b92f4 !important;
}

.slides {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.anime-image {
    width: 40%;
    margin-top: 3%;
    filter: brightness(0.5);
    transition: 0.5s ease-in-out;
}

#anime-search {
    margin-top: 15%;
}

#slider {
    width: 1330px;
    height: 500px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    height: 850px;
    text-align: center;
    margin: 0px;
    left: 0px;
    animation: 15s slider infinite;
}

#slider figure div {
    width: 20%;
    height: 100%;
    float: left;
}

#slider figure div img {
    width: 40%;
    height: 350px;
    margin-top: 3%;
    margin-left: 5%;
    filter: brightness(0.5);
    transition: 1s ease-in-out;
}

#slider figure div img:hover {
    filter: brightness(1);
}

.search-header {
    margin-top: 15%;
}

.search-header h1 {
    font-size: 30px;
    font-family: PT Sans, Helvetica, Arial, sans-serif !important;
    word-spacing: normal;
    letter-spacing: 8px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2%;
}

.search-header h1:before,
.search-header h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 10%;
}

.search-header h1:before {
    right: 0.5em;
    margin-left: -50%;
}

.search-header h1:after {
    left: 0.5em;
    margin-right: -50%;
}

.border-line {
    display: block;
    width: 20%;
    margin: 1% auto;
    border: 1px solid #c1c1c1;
}

.search-header h5 {
    font-family: PT Sans, Helvetica, Arial, sans-serif !important;
    word-spacing: normal;
    letter-spacing: 8px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 3% 0;
}

#anime-user-choosing {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
}

#anime-user-choosing button {
    margin-left: 4%;
    padding: 0px;
    border: none;
    width: 10%;
    height: 50px;
    font-size: 19px;
    color: #fff;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid #fff;
}

#title-btn {
    border: 1px solid gray;
    transition: 0.3s ease-in;
    font-weight: 500;
    font-size: 15px;
    color: darkgray;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#title-btn:hover {
    background-color: #275481;
}

#catagory-btn:hover {
    background-color: #77132f;
}

#catagory-btn {
    cursor: pointer;
    border-radius: 10px;
    color: darkgray;
    border: 1px solid gray;
    transition: 0.3s ease-in;
    font-weight: 500;
    font-size: 15px;
    font-weight: bold;
}

#anime-title {
    display: inline-block;
    width: 19%;
    text-align: center;
    margin: 2% 39.7%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#search {
    color: #000;
    font-size: 27px;
    top: 0;
    right: 21%;
    position: sticky;
}

#search-btn {
    text-align: center;
    width: 97%;
}

#search-btn button {
    border: none;
    padding: 10px;
    cursor: pointer;
}

#search-btn button {
    border: none;
    width: 10%;
    margin-left: 1%;
    font-size: 19px;
    border-radius: 9px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #234a81;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid #fff;
}

#search-btn button:hover {
    background-color: #275481;
}

#true form button {
    background-color: #070c19;
    color: white;
    padding: 8%;
    text-transform: uppercase;
    border-radius: 8px;
    border: solid 1px gray;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

#true form button:hover {
    background-color: #701129;
}

.active1 {
    background-color: #4b92f4;
    color: #fff !important;
}

#catagory-dropdown {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 2% 39%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.active2 {
    background-color: #77132f;
    color: #fff !important;
}

#second-search-btn {
    text-align: center;
    width: 97%;
}

#second-search-btn button {
    border: none;
    width: 10%;
    margin-left: 1%;
    font-size: 19px;
    border-radius: 9px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #77132f;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid #fff;
}

#second-search-btn button:hover {
    background-color: #77132f;
}

#outer-box {
    background: url(../images/red-blue-background.jpg);
    border: 1px solid gray;
    border-radius: 25px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5%;
    background-color: gray;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
}

#control-btns {
    margin: 9% 0px;
}

#arrow-left {
    font-size: 50px;
    cursor: pointer;
    z-index: 1;
    color: #ffffff;
}

#arrow-right {
    float: right;
    font-size: 50px;
    cursor: pointer;
    z-index: 1;
    left: 4px;
    color: #ffffff;
}

.container {
    width: 100%;
    position: relative;
    bottom: 150px;
    right: 0%;
    justify-content: center;
    align-items: center;
}

.anime-img {
    text-align: center;
    margin-top: 12px;
}

.anime-img img {
    width: 80%;
    height: 220px;
}

.anime-box {
    width: 200px;
    height: 370px;
    background-color: #070c19;
    border-radius: 2px;
    margin-right: 7px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.anime-box:hover {
    transform: scale(1.1);
}

.anime-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
}

.anime-details p {
    font-family: 'calibiri';
    font-weight: bold;
    padding: 6px;
    text-align: center;
}

.anime-title {
    padding: 0px;
    width: 200px;
}

.anime-title h1 {
    color: #323233;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kai;
    font-size: 25px;
}

#inner-box {
    text-align: -webkit-center;
}

#slider1 {
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 97%;
    bottom: 150px;
    right: 19px;
    justify-content: center;
    align-items: center;
}

.vcard:nth-child(5) {
    margin-left: 19px;
    margin-right: 30px;
}

.vcard:nth-child(6) {
    margin-left: 40px;
}

.vcard:nth-child(9) {
    margin-left: 5px;
}

.vcard {
    width: 200px;
    margin: 0 10px;
    height: 100px;
    float: left;
}

#prev {
    display: inline-block;
}

#vcards {
    position: absolute;
    top: 27px;
    left: 40px;
}

#outer-box h1 {
    font-size: 15px;
    padding-top: 2%;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

#top {
    font-size: 40px !important;
}

.like {
    border: none;
    color: aliceblue;
    left: 36%;
    background-color: #070c19;
    position: relative;
    font-size: 2em;
}

.heart i {
    color: #f44336;
}

.heart {
    animation: heart 0.5s linear;
}

.slider {
    position: relative;
}

.slider img {
    width: 100%;
    max-height: 400px;
}

.slider-text {
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.slider-text h2 {
    font-size: 40px;
    padding-top: 70px;
    color: #fff;
    letter-spacing: 12px;
    text-align: center;
}

.slider-content {
    position: absolute;
    width: 60%;
    top: 150px;
    left: 20%;
    text-align: center;
    color: #fff;
    padding-top: 3%;
}

.slider-content p {
    font-weight: 300;
    font-size: 22px;
    margin-top: 0;
    line-height: 26px;
    margin-bottom: 0;
    letter-spacing: 3px;
}

#email-feild {
    margin-top: 8%;
}

#email {
    display: inline-block;
    width: 35%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 2.5;
    color: #fff;
    opacity: 0.9;
    background-color: #56525b;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input::placeholder {
    color: gray;
}

.Subscribe {
    border: none;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    background-color: #0059ff;
    border: 2px solid #0059ff;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

.Subscribe:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should be a color other than white */
    z-index: 99;
}

#preloader img {
    width: 100%;
}

#status {
    width: 800px;
    height: 800px;
    position: absolute;
}

*/ .website-intro img {
    width: 40% !important;
}

.intro-logo {
    position: absolute;
    top: 5%;
    left: 2%;
}

.website-header-header {
    position: absolute;
    top: 50%;
    left: 30%;
}

.website-header-header h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    font-family: PT Sans, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    word-spacing: 15px;
    opacity: 0;
    animation: intro 5s ease-in-out;
}

#News h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

#News {
    background-color: #070c19;
    font-size: 40px;
    padding-top: 25px;
    font-weight: 600;
    height: 550px;
    font-family: Arial, Helvetica, sans-serif;
}

#news-content {
    margin-top: 5%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

iframe {
    margin: 2%;
    display: inline-block;
}

.news-article-content-box {
    padding-top: 3%;
    width: 50%;
}

.news-article-content-box h1 {
    text-align: left !important;
}

.durition,
.catagory,
.realese {
    font-size: 15px;
    color: #515151;
}

.article-des {
    padding-top: 11px;
    line-height: 30px;
    width: 53%;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
}

.news-article-content-box {
    box-sizing: border-box;
}

.article-des-pargraph {
    font-size: 19px;
    overflow: scroll;
    height: 80px;
    padding-top: 10px;
    padding-left: 0px;
    line-height: 30px;
    width: 66%;
    letter-spacing: 1px;
    text-align: left;
    position: relative;
    color: #fff;
    margin: 13px 0;
}

.image-news img {
    width: 300px;
    height: 380px;
    margin-bottom: 3%;
    float: left;
    margin-left: 5%;
}

.content span {
    text-align: left;
    line-height: 43px;
    font-size: medium;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.border-bottom {
    border-top: 2px solid gray;
    width: 15%;
    margin: 0 auto;
}

footer {
    background: linear-gradient(#00000091, #00000062), url(../images/red-blue-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
}

.footer-logo {
    text-align: center;
    padding-top: 3%;
}

.footer-logo img {
    width: 9%;
    margin-top: 5px;
}

#navbar {
    padding-top: 13px;
    text-align: center;
    width: 100%;
}

#navbar ul li {
    transition: 0.5s ease;
    display: inline-block;
    padding: 5px;
}

#navbar ul li a:hover {
    color: #fff;
}

.copyright p {
    color: #fff;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.news-vcard {
    position: sticky;
}

.left-button {
    display: inline-block;
    float: right;
    margin-right: 40px;
    position: relative;
    padding: 10px;
    color: skyblue;
    bottom: 370px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.right-btn {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    padding: 10px;
    color: skyblue;
    left: 18px;
    bottom: 370px;
    border: 1px solid;
    border-radius: 50%;
    transition: 0.5s ease;
}

.right-btn:hover {
    background-color: #000b6e;
}

#news-slider {
    width: 1263px;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 610px;
}

.news-vcard {
    width: 1266px;
    margin: 0 21px;
    height: 550px;
    margin-top: 25px;
    float: left;
}

#news-vcards {
    position: absolute;
    top: 0;
    left: 40px;
}

.left-button:hover {
    background-color: #000b6e;
}

.video-promo {
    background: url(../images/screen2.png);
    height: 410px;
    text-align: center;
    position: relative;
    margin: 0 12%;
    background-repeat: no-repeat;
}

.video-promo video {
    top: 17%;
    left: 20%;
    position: absolute;
}

#promo {
    background-color: #070c19;
}

.anime-promo-title h1 {
    text-align: center;
    padding-top: 3%;
    font-size: 25px;
}

.anime-promo-details {
    text-align: center;
    padding-top: 3%;
    margin: 0 30%;
}

.anime-promo-details p {
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
}

.video-promo img {
    position: absolute;
    width: 5%;
    top: 19%;
    left: 21%;
    z-index: 1;
}

.devices {
    position: relative;
    text-align: center;
    bottom: 0;
    margin: 0 auto;
    top: 274px;
}

.devices img {
    width: 9%;
}

.anime_charecter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 0px;
}

.all_devices {
    position: relative;
    bottom: 380px;
    height: 200px;
    width: 100%;
}

#narotuvs {
    height: 250px;
    position: relative;
    top: 225px;
}

.painvsnaruto {
    height: 390px;
    position: relative;
    bottom: 145px;
    /* right: 30px; */
}

.copyright {
    padding-right: 4%;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 20%;
    /* background: linear-gradient(rgba(119, 19, 47,0.7), rgba(44, 87, 127,0.8)); */
    /* background: linear-gradient(rgb(119, 19, 47,0.9), rgb(119, 19, 47,0.3)); */
    background-color:rgb(7, 12, 25,0.8);

    box-shadow: 5px 4px 12px #000000;
}
#contact i
{
    padding-left: 15px;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes glowa {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ff0800, 0 0 10px #d9ff00, 0 0 10px#ff0800, 0 0 10px#000b6e;
    }
    to {
        text-shadow: 0 0 10px #1100ff, 0 0 10px #ff00b3, 0 0 20px#0059ff, 0 0 50px red;
    }
}