<!DOCTYPE html>
<html lang="en">

<body>


    <section id="header-background">
        <header>

            <div id="logo">
                <img src="images/logo.png" alt="anime-threapy-logo">
            </div>
            <div id="main-navbar">
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="aboutUs">About Us</a></li>
                    <li><a href="/favAnime">Faviourite List</a></li>
                    <li><a href="Contact">Contact Us</a></li>
                    <!-- <div id="cart">
                        <a href="#">
                            <ion-icon name="cart-outline"></ion-icon>
                        </a> -->
            </div>
            </ul>
            </div>
        </header>