<div id="preloader">
    <div class="intro-logo">
        <img src="images/logo.png" style="width: 30%;">
    </div>
    <img src="images/anime-slides/giphy.gif">
    <div class="website-intro">
     
        
        <div class="website-header-header">
            <h1>Welcome to Anime Threapy</h1>

        </div>
    </div>
    <div id="status"></div>
</div>